* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.detail {
    margin: 0 auto;
    width: 1700px;
    height: 64.5vh;
    background-color: yellow;
    display: flex;
}
.detail .bookdownload {
    width: 350px;
    height: 435px;
    border-radius: 25px;
    background-color: #C9D6DF;
    margin-top: 8.5em;
    /* margin-bottom: auto; */
}
.detail .bookdownload img{
    width: 250px;
    height: 330px;
    margin-left: 45px;
    margin-top:  2em;
}
.detail .bookdownload button{
    width: 250px;
    height:40px;
    margin-left: 45px;
    margin-top: 10px;
    border-width: 0px;
    border-radius: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background-color:#52616B;
    color: white;
}
.detail .bookdownload button:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    color: black;
    background-color: #91abbd;
}
.detail .bookdetail {
    width: 1250px;
    height: 435px;
    border-radius: 25px;
    background-color: #C9D6DF;
    margin-top: 8.5em;
    margin-left: auto;
}