* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
.browse_card {
    display: flex;
    background-color: #C9D6DF;
    border-radius: 20px;
    height: 350px;
    margin-top: 20px;

}
.browse_card img {
    margin-left: 30px;
    width: 230px;
    height: 310px;
    margin-top: auto;
    margin-bottom: auto;
}
.browse_card .browse_descript{
    font-size: 18px;
    font-weight: 500;
    line-height: 1em;
    padding: 55px 30px;
}
.browse_card button {
    width: 80px;
    height: 80px;
    background: #52616B;
    border-radius: 15px;
    border-width: 0;
    color: white;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.browse_card .bx-show {
    font-size: 40px;
}